# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
.env
__pycache__/
.cache/

# IDEs
.idea/
.vscode/

# Testing
.pytest_cache/
htmlcov/
.coverage
